@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Gaegu:400,700|Gamja+Flower|Nanum+Gothic: 400,700|Indie+Flower|Roboto|Open+Sans:300,400,600,700&&family=Merriweather:wght@400;700&display=swap");

:root {
  --primary-color: #581845;
  --secondary-color: #77205d;
  --highlight-color: #e3f4f5;
  --primary-bg-color: #fff;
  --secondary-bg-color: #fcfcfc;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: var(--primary-bg-color) !important;
  font-size: 14px !important;
  color: var(--primary-color) !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}

.post-innerContent-title,
.tags-innerContent-title,
.post-innerContent-title-main {
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 30px !important;
  font-weight: 700;
  margin: 0.67em 0;
  margin-top: 0;
}

.header {
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 20%);
}

.about-innerContent-title,
.sidebar-innerContent-title {
  color: var(--primary-color);
  font-family: "Indie Flower", cursive;
  font-size: 30px !important;
  font-weight: 700;
  line-height: 35px;
  margin: 0.67em 0;
  margin-top: 0;
}
.sidebar-innerContent-title {
  text-align: center;
}

.post-innerContent-title-main:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.post-innerContent-date,
.post-innerContent-info {
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 12px;
}

.post-innerContent-info-tags {
  margin-bottom: 0;
}

.post-innerContent-info-link {
  color: var(--primary-color);
  text-decoration: underline !important;
}

.post-innerContent-info-link:hover {
  color: var(--secondary-color);
}

.post-innerContent-content {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 1rem 0;
  padding: 0;
}

.categories-innerContent-info {
  color: var(--primary-color);
  font-size: 15px;
  padding: 15px;
}

.categories-innerContent-info-highlight {
  font-weight: bold;
  background: var(--highlight-color);
  padding: 2px 8px;
}

.post-innerContent-info-highlight,
.post-innerContent-info-highlight:link,
.post-innerContent-info-highlight:visited,
.sideBar-tags-highlight {
  background: var(--highlight-color);
  color: var(--primary-color);
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 2px 8px;
}

.sideBar-tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sideBar-tags-highlight {
  display: inline-block;
  margin-bottom: 8px;
}

.post-innerContent-info-highlight:hover,
.sideBar-tags-highlight:hover {
  color: var(--highlight-color);
  background: var(--secondary-color);
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h2 {
  color: var(--primary-color) !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700 !important;
  font-size: 25px !important;
  line-height: 35px !important;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem !important;
  line-height: 1.1;
  color: var(--primary-color) !important;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

.tags-innerContent-item {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 14px;
}

ol,
ul {
  color: #352d39;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  list-style-image: none;
  list-style-position: outside;
  margin-bottom: 1.45rem;
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  color: #352d39;
  line-height: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 8px;
  overflow: auto;
  word-wrap: normal;
  padding: 0.5rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .navLink,
  .navBar {
    padding: 12px !important;
  }

  .post-innerContent-content {
    font-size: 16px;
  }

  .post-innerContent-title,
  .tags-innerContent-title {
    font-size: 25px;
  }

  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  .article-card {
    padding: 40px 20px 40px 20px !important;
  }
  .content-box-main {
    padding: 40px 10px 40px 10px !important;
  }
  p,
  li {
    font-size: 16px;
  }
  pre {
    max-width: 400px;
  }

  .line-numbers {
    max-width: 320px;
  }
}

@media only screen and (max-width: 400px) {
  .line-numbers {
    max-width: 320px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 410px) and (max-width: 800px) {
  .line-numbers {
    max-width: 350px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .line-numbers {
    max-width: 400px;
    font-size: 14px;
  }
}

.navBar {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 16px 0;
  background: var(--primary-bg-color);
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 20%);
}

.navLink,
.navLink:link,
.navLink:hover {
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 18px;
  text-decoration: none;
}

@media (hover: hover) {
  .navLink:hover,
  .navLink:link:hover {
    background: var(--highlight-color);
    text-decoration: none;
    border-radius: 5%;
  }
}

.articleLink {
  color: var(--primary-color);
  text-decoration: underline;
}

.articleLink:hover {
  background: var(--secondary-color);
  color: var(--highlight-color);
  text-decoration: none;
}

.tags-innerContent-item-link:link {
  color: var(--primary-color);
}

.tags-innerContent-item-link:visited {
  color: #942874;
}

.tags-innerContent-item-link:hover {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: underline;
}

.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  padding: 0px;
  margin-top: 10px;
}

.footer-innerContent {
  background: var(--primary-bg-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.content-box-main {
  margin: 10px 0px;
  padding: 40px 40px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 20%);
  align-items: center;
  justify-content: center;
  display: flex;
}

.content-box-sidebar {
  margin: 10px 0px;
  padding: 40px 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 20%);
  justify-content: center;
  display: flex;
}

.image_circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-card {
  padding: 60px 60px 40px 60px;
  margin: 10px 0px;
  background: white;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0px 20px 0 rgb(0 0 0 / 20%);
}

.navigation-card {
  border-radius: 4px;
  margin: 10px 0px;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 20%);
}

.post-innerContent,
.nav-innerContent,
.about-innerContent,
.tags-innerContent,
.categories-innerContent {
  padding-left: 15px;
  padding-right: 15px;
}

.primaryButton,
.primaryButton:visited,
.primaryButton:link {
  background: var(--primary-color);
  border-radius: 4.5px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 18px;
  padding: 10px 12px;
  transition: all 0.5s ease;
}

.primaryButton:hover {
  background: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.primaryButton-right {
  float: right;
}

.post-innerContent-title-hover:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.navigationButton,
.navigationLink:link,
.navigationLink:visited,
.navigationButton:link,
.navigationButton:visited {
  color: var(--primary-color);
}

.navigationButton:hover,
.navigationLink:hover {
  color: var(--secondary-color) !important;
  text-decoration: none;
}

.sidebarCategory-link {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  margin: 10px 0px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 4px;
}

.sidebarCategory-link:link,
.sidebarCategory-link :hover {
  color: var(--primary-color);
  background: var(--highlight-color);
  text-decoration: none !important;
}

.paddingTop {
  padding-top: 0;
}

.post-footer-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blogTitle-hidden {
  visibility: hidden;
  font-size: 0px !important;
  margin: 0;
}

@media (hover: hover) {
  #s9-share-inline .s9-btn-share .s9-icon-wrap svg:hover {
    fill: var(--secondary-color) !important;
  }
}

#s9-share-inline .s9-btn-share.s9-facebook {
  padding-left: 0;
}

.socialMediaLinks-icon {
  height: 30px;
  width: 30px;
  fill: var(--primary-color);
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}
.socialMediaLinks-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.socialSharing-wrapper {
  margin-bottom: 0;
  align-items: center;
  text-align: center;
}
